.container img {
    width : 400px;
    height:250px;
    overflow: hidden;    
    border-radius: 10px;
}
img:hover {
    cursor: pointer;
}
.container {
    max-width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.card h3,p {
    margin: 6px 0;
}
.detail {
padding-left: 15px;
}
.card img {
    overflow: hidden;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}
/* #heading{
    text-align: center;

} */